<div class="section">
  <div class="row">
    <div class="input-field col s12">
      {{input value=description id="description" type="text"}}
      <label for="description">Description</label>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="section">
  <div class="row">
    <div class="col s6 center">
      Latitude<br />
      {{format-number model.lastLatitude format="0.000000"}}
    </div>
    <div class="col s6 center">
      Longitude<br />
      {{format-number model.lastLongitude format="0.000000"}}
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="section">
  <div class="row">
    <div class="col s6 center">
      Altitude<br />
      {{format-number altitude format="0,0.0"}} m
    </div>
    <div class="col s6 center">
      Velocity<br />
      {{format-number speed format="0.00"}} m/s
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="section">
  <div class="row">
    <div class="col s6 center">
      Max Altitude<br />
      {{format-number model.maxAltitude format="0,0.0"}} m
    </div>
    <div class="col s6 center">
      Max Velocity<br />
      {{format-number model.maxSpeed format="0.00"}} m/s
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="section">
  <div class="row">
    <div class="col s12 center">
      {{#if flightRunning}}
        <button type="button" class="btn btn-large waves-effect waves-light" {{action 'stopFlight'}}>Stop Flight</button>
      {{else}}
        <button type="button" class="btn btn-large waves-effect waves-light" {{action 'startFlight'}}>Start Flight</button>
      {{/if}}
    </div>
  </div>
</div>
